@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 150px;
  
}

:root {
  --foreground-rgb: 155, 155, 155;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 100, 255;
    --background-end-rgb: 220, 224, 222;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-h2 {
  @apply mb-3 text-2xl font-semibold transition duration-300 ease-in-out hover:text-gray-500;
}

.jura{
  font-family: var(--font-jura) ;
}

.signInPage{
  background-color: white;
}

/* html,
body {
  height: 100%;
  background-color: white;
} */

/* In your global styles file */
.gradient-text {
  @apply text-8xl font-bold;
  background: linear-gradient(to bottom,transparent, #6464ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* In your CSS file */
.page-background {
  background-color: #f0f0f0; /* Example color: light grey */
}

